{% extends "files/base_manager.html" %}

{% block content %}

<div class="card card-outline-secondary">
    <div class="card-header text-center">
        <h3 class="mb-0">Add Employee</h3>
    </div>
    <div class="card-body">
        <form method='post'>
            {% csrf_token %}
            <br>
            <div class="form-group">
                <label for="inputName">Enter Employee Name</label>
                <input name="inputName" type="text" class="form-control" id="inputName" placeholder="Name" required="">
            </div>
            
            <br>
            <div class="form-group">
                <label for="inputEmail3">Enter Employee E-mail Address</label>
                <input name="inputEmail3" type="email" class="form-control" id="inputEmail3" placeholder="E-Mail" required="">
            </div>

            
            <br>
            <div class="form-group text-center">
                <button type="submit" class="button btn btn-outline-success">Submit</button>
            </div>
        </form>
	</div>
</div>

{% endblock content %}