<!DOCTYPE html>
<html>
<head>
	<title>Manager Page</title>
	

	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'files/manager.css' %}">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	

	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	

</head>
<body>
	<div class="main">
<!-- 		<div class="header">
			<img src="./logo1.jpg" class="logo img-responsive">
			<h2>DevMust Impex</h2>
		</div> -->
		<nav class="header navbar navbar-expand navbar-dark bg-dark">
		  	<a class="navbar-brand d-flex" href="#">
		    	<img src="{% static 'files/images/logo1.jpg' %}" class="logo d-inline-block align-top" alt=""> 
		    	<h4 class="my-auto"><b>DevMust Impex</b></h4>
		  	</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			</button>		  	
			<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
			  	<ul class="navbar-nav">
			    	<li class="nav-item mx-1">
			      		<a class="nav-link" href="{% url 'files:addEmp' %}">Add Employee</a>
			    	</li>
			    	<li class="nav-item mx-1">
			      		<a class="nav-link" href="{% url 'files:display' %}">Display Information</a>
			    	</li>	
			    	<li class="nav-item mx-1">
			      		<a class="nav-link" href="{% url 'files:logs' %}">Logs</a>
			    	</li>			    	
			    	<li class="nav-item mx-1">
			      		<a class="nav-link" href="{% url 'files:manLog' %}">Logout</a>
			    	</li>			    			    				    	
			  	</ul>
			</div>		  	
		</nav>

		<br><br><br>
		<div class="container content">

			{% block content %}
			{% endblock content %}

		</div>
		<br><br>
	</div>

</body>
</html>			