{% extends "files/base_manager.html" %}

{% block content %}

<div class="card-header text-center">
    <h3 class="mb-0">{{ med_name }} Details</h3>
</div>
<br>
<table class="display table table-hover text-center">
  	<thead>
        <tr>
          	<th><b>#</b></th>
          	<th><b>Component Name</b></th>
          	<th><b>Quantity</b></th>
          	<th><b>Total Cost</b></th>
        </tr>
  	</thead>
  	<tbody>
      {% for value in values %}
        <tr>
          <td scope="row">{{ value.ctr }}</td>
          <td>{{ value.name }}</td>
          <td>{{ value.quantity }}</td>
          <td>{{ value.cost }}</td>
        </tr>
      {% endfor %}
  	</tbody>
</table>

{% endblock content %}