{% extends "files/base_login.html" %}

{% block content %}

<form method="post">

	<h3 class="text-dark text-center"><b>Manager Registration</b></h3>
	<br>
    {% csrf_token %}
	{% for field in user_form %}
		<div class="form-group">
				<div>
					<span class="text-danger la">{{ field.errors }}</span>
				</div>
				<label>{{ field.label_tag }}</label>
				<div>{{ field }}</div>
		</div>

	{% endfor %}
	<div class="input-group mb-3">
		<div class="input-group-append">
			<span class="input-group-text"><i class="fa fa-medkit"></i></span>
		</div>
		<input type="text" name="medicine" id="medicine" class="input form-control mx-2" value="" placeholder="Medicine">
	</div>
	<br>

    <button type="submit" class="btn login_btn">Register</button>
    <a href="{% url 'files:manLog' %}">Already a manager? Login</a>
    <br>
</form>					

{% endblock content %}