{% extends "files/base_login.html" %}

{% block content %}

<form method="post">
	{% csrf_token %}
	<h3 class="text-dark text-center"><b>Manager Login</b></h3>
	<br>
    
	{% for field in user_form %}
		<div class="form-group">
				<div>
					<span class="text-danger la">{{ field.errors }}</span>
				</div>
				<label>{{ field.label_tag }}</label>
				<div>{{ field }}</div>
		</div>

	{% endfor %}
	<br>
    <button type="submit" class="btn login_btn">Login</button>
    <a href="{% url 'files:manReg' %}">Register as Manager</a>
    <br>
</form>		

{% endblock content %}